
//setting up the document
.body {
  background-color: #f7f8f9

}

.wrap {
  margin: 50px;
}

.container {
  display: inline-block;
  width: 340px;
  margin: 4rem;
}

.box {
  height: 340px;
  margin: 2rem;
  width: 340px;
  
  // transfom make the image scale 2x on hover
  .wrap:hover & {
    transform: scale(1.1);
  }
}

//divs with album art images and transition speeds
.box1 {
  background-image: url(../img/skrillex.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  transition: all 900ms;
}

.box2 {
  background-image: url(../img/wonderland.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  transition: all 1s;
}

.box3 {
  background-image: url(../img/zedd.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  transition: all 2s;
}


